* {
  font-family: "Catamaran", sans-serif;
  box-sizing: border-box;
}
h1 {
  color: aquamarine;
  font-family: Fascinate Inline;
  background-image: linear-gradient(180deg, #fff, #87f1ff);
  font-weight: bold;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  filter: drop-shadow(2px 2px #0085a3);
  text-align: center;
  margin: 20px 0;
}
body {
  background-image: url(./image.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.start {
  width: 10em;
  max-width: 100%;
}
.spinner-border {
  position: absolute;
  top: calc(50vh - 2.5rem);
  left: calc(50vw - 2.5rem);
  height: 5rem;
  width: 5rem;
}
#questionCard {
  color: aqua;
  max-width: 90vw;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid #0085a3;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  backdrop-filter: blur(1em);
}
#questionCard span {
  font-weight: 700;
}
.score {
  color: #fff;
  font-family: garamond, serif;
  margin-left: 5em;
  font-size: 23px;
}
.option {
  font-size: 20px;
  color: aqua;
}
.next {
  position: relative;
  float: right;
  border-top-left-radius: 2em;
  width: 7em;
  font-weight: bolder;
  top: 5px;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  background-color: aqua;
  color: #fff;
}

@media (min-width: 1300px) {
  #questionCard {
    font-size: 25px;
  }
  .option {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .option {
    font-size: 15px;
  }
  #questionCard {
    padding: 5px 10px;
  }
}
